$tf/
[Oo]bj/
*.orig
_ReSharper*
*.user
*.suo
StyleCop.Cache/
**/bin/[Dd]ebug/
**/bin/[Rr]elease/
**/bin/[Dd]evelopment/
**/bin/[Tt]esting/
*!Backup*
*.min.*
packages/*
*.log
*.bak
Alloy85/App_Data/Index/
Alloy85/bin/
